{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Profile Edit:</h1>
  {% else %}
    <h1>Create Profile</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn-floating btn-large grey darken-2"><i class="material-icons" style="font-size:35px">save</i></button>
  </form>

{% endblock %}