{% extends 'base.html' %}
{% block content %}
    <h1>About Neighbor</h1>
    <hr />
    <div class="row">
        <div class="col s4 m5 12">
        <img src="https://images.squarespace-cdn.com/content/v1/587016cd6a4963ba571926d1/1519744900950-BQZLL9FDSQC0TKZL6XEA/ke17ZwdGBToddI8pDm48kDUY_7r8xm0iz6i6vGJ55SBZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGCz-X8FcAiSXHjwwi8bn2MZmvdkN5rw9bM204oleIDTpuG45vQwBxdpDrCGUSSl5w/Blog+Frame+.png">
        </div>
        <div class="col s7 m6 12" style="font-size:1vw">
            <h4>"Know your community, grow your community."</h4>
            <p>Neighbor is the product of community-oriented developers who grew up asking, “Won’t you be my Neighbor?”
                Our goal is to create more accessible opportunities to help those in our community through volunteering,
                offering goods, and engaging in local community projects. If you are in need of help, or want to help, 
                all you need to do is turn to your Neighbor.
            </p>
        </div>
    </div>
{% endblock %}