{% extends 'base.html' %}
{% block content %}

<h1>{{ user.username }}'s profile page! </h1>
<a href="{% url 'profile_update' user.id %}" class="btn">Edit Profile</a>

<hr>
<div class="row">
  <div class="col s6"> 
    <h3>{{ profile.name }}'s Bio:</h3>
    <h4>{{ profile.bio }}</h4>
    <h4>Zip code: {{ profile.zipcode }}</h4>
    <h3>{{ profile.name }}'s skills</h3>
  </div>

  <div class="col s6">
    <form action="{% url 'add_skill' user.id %}" method="post">
      {% csrf_token %}
      {{ skill_form.as_p }}
      <input type="submit" class="btn" value="Add Skill">
    </form>
  </div>
</div>
{% endblock %} 

