{% extends 'base.html' %}
{% block content %}

<h2>Please confirm your application:</h2>
<h4>User applying: {{user.username}}</h4>
<h4>Volunteer job: <a href="{% url 'detail' jobpost.id %}" class="teal-text">{{jobpost.name}}</a></h4>
<h4>Request ID reference number: {{jobpost.id}}</h4>
    <!--
    The reason we are using a form
    When creating a record in database, common practice is to use a POST requests
    Post request will contian a request body, which holds properties you like to save to the database
    In this case properties we are sending are user_id and job_post_id
    -->
<form action="{% url 'job_application_create' %}" method="POST">
    {% csrf_token %}
    <div>
        <a href="{% url 'index' %}" class="btn">Cancel and return to all listings</a>
        <button type="submit" class="btn">Proceed</a>
        </div>
        <div style="visibility:hidden">
            <label for="user-id">What greeting do you want to say?</label>
            <input name="user_id" id="user-id" value="{{user.id}}">
        </div>
        <div style="visibility:hidden">
            <label for="job-post-id">Who do you want to say it to?</label>
                <input name="job_post_id" id="job-post-id" value="{{jobpost.id}}">
        </div>
</form>

{% endblock %}