{% extends 'base.html' %}
{% block content %}

<h3>Post Details</h3>

<div class="card">
  <!-- Insert photo markup below this comment -->
  <div class="center">
  {% for photo in jobpost.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}  <!--Instead of IF Else statement: is this empty?  -->
    <div class="teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
</div>
<div class="row">
  <div class="col s6">
  <div class="card-content">
    <span class="card-title teal-text" style="font-size:35px">{{ jobpost.name }}</span>
    <p>Description: {{ jobpost.description }}</p>
    <p>Compensation: {{ jobpost.compensation }}</p>
    <p>Helpers Requested: {{ jobpost.maxPeople }}</p>
    <p>Date: {{ jobpost.date }}</p>
    <p>Posted by: {{ jobpost.user }}</p><br>
    <form action="{% url 'job_application_create' %}" method="POST">
      {% csrf_token %}
      <div>
          <button type="submit" class="btn grey darken-2">Apply</a>
          </div>
          <div style="visibility:hidden">
              <input name="user_id" id="user-id" value="{{user.id}}">
          </div>
          <div style="visibility:hidden">
              <input name="job_post_id" id="job-post-id" value="{{jobpost.id}}">
          </div>
  </form>
  </div>
  </div>
  <div class="col s6">
    <!-- <p>Applicant: {{ volonteer.JobApplicationMap_set.all }}</p> -->
    <table>
      <thead>
        <tr>
          <th>Volunteers applied:</th>
        </tr>
      </thead>
      <tbody>
      {% for volonteer in jobpost.jobapplicationmap_set.all %}
    <tr>
      <td>{{volonteer.user}}</td>
      <!-- <td>{{feeding.get_meal_display}}</td> -->
    </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>
  <div  class="card-action">
    <div class="row">
      <div class="col s4">
        <a href="{% url 'jobposts_update' jobpost.id %}" class="btn-floating btn-large green"><i class="material-icons" style="font-size:35px">edit</i></a>
        <a href="{% url 'jobposts_delete' jobpost.id %}" class="btn-floating btn-large red"><i class="material-icons" style="font-size:35px">delete</i></a><br><br>
        <a href="{% url 'index' %}">Return to all listings</a>
      </div>
      <div class="col s4 right">
      <!-- Choose file to Upload photo -->
      <!-- enctype="multipart/form-data" - is sending multiple requests (photo, description. See line below) -->
      <form action="{% url 'add_photo' jobpost.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!-- type='file' - give us an option to Choose -->
        <input type="file" name="photo-file"> 
        <!-- <input type="text" name="description">  - if we want add a description -->
        <br><br>
        <button type="submit" class="btn-floating btn-large grey darken-2"><i class="material-icons" style="font-size:35px">add_a_photo</i></button>
      </form>
      </div>
  </div>
</div>

</div>


{% endblock %}