{% extends 'base.html' %}
{% block content %}

<h1>Post Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ jobpost.name }}</span>
    <p>Description: {{ jobpost.description }}</p>
    <p>Compensation: {{ jobpost.compensation }}</p>
    <p>Helpers Requested: {{ jobpost.maxPeople }}</p>
    <p>Dates: {{ jobpost.date }}</p>
  </div>
  <div  class="card-action">
    <a href="{% url 'jobposts_update' jobpost.id %}">Edit</a>
    <a href="{% url 'jobposts_delete' jobpost.id %}">Delete</a>
  </div>
</div>
<a href="{% url 'index' %}">Return to all listings</a>

{% endblock %}