{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}
<h1>Volunteer Requests</h1>

<h5>Search for a request:</h5>
<form method='POST' action=''>{% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn-floating btn-large"><i class="material-icons">search</i></button>
</form>
<br>

<table>
    <thead>
        <tr>
            <th>Request</th>
            <th>Compensation</th>
            <th>Dates</th>
            <th>Volunteers needed</th>
            <th>Posted by</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for jobpost in jobposts %}
        <tr>
            <td><a href="{% url 'detail' jobpost.id %}" class="teal-text"><u>{{ jobpost.name }}</u></a></td>
            <td>{{ jobpost.compensation }}</td>
            <td>{{ jobpost.date }}</td>
            <td class="center">{{ jobpost.maxPeople }} </td>
            <td>{{ jobpost.user }}</td>
            <td><a href="{% url 'jobposts_add_application' jobpost.id %}" class="btn">Apply</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}