{% extends 'base.html' %}
{% block content %}

<h1>Volunteer Requests</h1>

{% for jobpost in jobposts %}
<table>
    <thead>
        <tr>
            <th>Request</th>
            <th>Compensation</th>
            <th>Dates</th>
            <th>Volunteers</th>
        </tr>
    </thead>
    <tbody>
        <td><a href="{% url 'detail' jobpost.id %}" class="teal-text">{{ jobpost.name }}</a></td>
        <td>{{ jobpost.compensation }}</td>
        <td>{{ jobpost.date }}</td>
        <td>{{ jobpost.maxPeople }} </td>
    </tbody>
</table>

{% endfor %}

{% endblock %}